.tab-list {
  list-style: none;
  display: flex;
  overflow: auto;
  padding: var(--spacing-2xs);
}

.tab-list--pill {
  gap: var(--spacing-2xs);
}

.tab-list--underline {
  gap: var(--spacing-l);
}

@media (min-width: 48.063rem) {
  .tab-list--pill {
    gap: var(--spacing-xs);
  }

  .tab-list--underline {
    gap: var(--spacing-xl);
  }
}
